<app-header></app-header>

  <div class="page-body">
    <div class="sub-page-header">
      <h1>Progressive Jackpots</h1>
    </div>
  
    <div class="page-row" fxLayout="row wrap" fxLayoutAlign="center top">
        <!-- Game Cards -->
        <div class="games-card" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
          <img class="filter-image" src="assets/images/azm.webp" alt="Aztecs's millions online slots">
          <div class="play-overlay">
            <span class="play-icon">▶</span>
          </div>
          <div class="card-div">
            <div class="card-content">
                <p>€1,563,901.59</p>
              </div>
          </div>

        </div>
      
        <div class="games-card" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
          <img class="filter-image" src="assets/images/cleopatras.webp" alt="Cleopatra's Gold free online slot in Australia">
          <div class="play-overlay">
            <span class="play-icon">▶</span>
          </div>
          <div class="card-div">
            <div class="card-content">
                <p>€102,115.23</p>
              </div>
          </div>
        </div>
      
        <div class="games-card" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
          <img class="filter-image" src="assets/images/pinatas.webp" alt="Jackpot pinatas online pokies slots">
          <div class="play-overlay">
            <span class="play-icon">▶</span>
          </div>
          <div class="card-div">
            <div class="card-content">
                <p>€269,317.75</p>
              </div>
          </div>
        </div>
      
        <div class="games-card" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
          <img class="filter-image" src="assets/images/megasaur.webp" alt="megasaur online slots game">
          <div class="play-overlay">
            <span class="play-icon">▶</span>
          </div>
          <div class="card-div">
            <div class="card-content">
                <p>€876,777.47</p>
              </div>
          </div>
        </div>
      
        <div class="games-card" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
          <img class="filter-image" src="assets/images/let-em-ride.webp" alt="let em ride australian pokies">
          <div class="play-overlay">
            <span class="play-icon">▶</span>
          </div>
          <div class="card-div">
            <div class="card-content">
                <p>€114,320.20</p>
              </div>
          </div>
        </div>
      
        <div class="games-card" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
          <img class="filter-image" src="assets/images/shopping-spree.webp" alt="shopping spree online pokies slots">
          <div class="play-overlay">
            <span class="play-icon">▶</span>
          </div>
          <div class="card-div">
            <div class="card-content">
                <p>
                    €148,614.80</p>
              </div>
          </div>
        </div>
      
        <div class="games-card" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
          <img class="filter-image" src="assets/images/hold-em.webp" alt="hold em online slots australia">
          <div class="play-overlay">
            <span class="play-icon">▶</span>
          </div>
          <div class="card-div">
            <div class="card-content">
                <p>€1,002.08</p>
              </div>
          </div>
        </div>
      
        <div class="games-card" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
          <img class="filter-image" src="assets/images/spirit-of-the-inca.webp" alt="Spirit of the Inca slots online">
          <div class="play-overlay">
            <span class="play-icon">▶</span>
          </div>
          <div class="card-div">
            <div class="card-content">
                <p>€76,357.28</p>
              </div>
          </div>
        </div>
      </div>
      

  </div>
 
<!-- ✅ FAQ Section -->
<app-faq></app-faq>


<app-footer></app-footer>