<app-header></app-header>
  
  <div class="contact-support-page-container">
    <!-- Header and description -->
    <h1 class="contact-support-page-header">Contact Support</h1>
    <strong class="contact-support-page-casino-name">Lucky Casino</strong>
    
    <p class="contact-support-page-dummy-text">
        At lucky casino Casino, we are committed to delivering exceptional customer support to complement your gaming experience. If you ever need assistance, we're here to help.
        Whether you're experiencing trouble logging in, have questions about a specific game, or want to learn more about our exciting promotions, our dedicated support team is ready to assist you.
        Browse through our available resources and let us know how we can enhance your gaming journey. For any queries, please feel free to reach out using the contact details and methods provided on this page.
    </p>
    
    <h5 class="contact-support-page-get-in-touch">Get in touch with us. We are here to assist you.</h5>
    
    <div class="contact-support-page-header-box">
        <div class="image-support-div">
            <img src="assets/images/support.png">
        </div>
      
    </div>
  
    <!-- Cards Section -->
    <div class="contact-support-page-cards-container">
      <!-- Call Us Card -->
      <div class="contact-support-page-card">
        <div class="contact-support-page-icon">
          <i class="fa fa-phone"></i>
        </div>
        <h6 class="contact-support-page-card-title">Call Us</h6>
        <p class="contact-support-page-card-description">You can call the support team at 000 000 0000 (US/Canada) or 000 000 0000 (International) for assistance, available 24/7.</p>
      </div>
  
      <!-- Email Card -->
      <div class="contact-support-page-card">
        <div class="contact-support-page-icon">
          <i class="fa fa-envelope"></i>
        </div>
        <h6 class="contact-support-page-card-title">Email</h6>
        <p class="contact-support-page-card-description">You can contact support&#64;luckycasino.net for general inquiries, or vip&#64;luckycasino.net if you're a VIP player. They aim to respond within 24 hours.</p>
      </div>
  
      <!-- Chat Card -->
      <div class="contact-support-page-card">
        <div class="contact-support-page-icon">
          <i class="fa fa-comment"></i>
        </div>
        <h6 class="contact-support-page-card-title">LIVE Chat</h6>
        <p class="contact-support-page-card-description">For an instant response, click 'CHAT NOW' to connect with a support agent, available 24/7 to assist with any questions or issues.</p>
        <button class="contact-support-page-chat-button">Chat Now</button>
      </div>
    </div>
</div>

  

<app-footer></app-footer>