<div class="sticky-header-wrapper">
  <app-header></app-header>
</div>

<div class="page-body">

  <div class="page-container">
    <div class="sub-page-header">
      <h1>PROMOTIONS</h1>
    </div>

    <hr class="divider">

    <div class="page-row">

      <div class="promo-container">
        <div class="promo-card">
          <img src="https://t4.ftcdn.net/jpg/05/09/57/57/240_F_509575793_naq3ZHEJ3vYpSNvofSi9OrltAVezSZGz.jpg" width="300px" class="img-responsive" alt="Welcome Bonus">
          <div class="promo-card-content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vehicula enim ut libero posuere, vel ultricies nulla laoreet. 

            </p>
          </div>
          <div class="promo-card-actions">
            <button class="button-rounded promoModal_btn" (click)="openDialogModal($event, 1)">more info</button>
          </div>
        </div>

        <div class="promo-card">
          <img src="https://t4.ftcdn.net/jpg/05/09/57/57/240_F_509575793_naq3ZHEJ3vYpSNvofSi9OrltAVezSZGz.jpg" onload="closeLoader()" width="300px" alt="Welcome Package">
          <div class="promo-card-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vehicula enim ut libero posuere, vel ultricies nulla laoreet. </p>
          </div>
          <div class="promo-card-actions">
            <button class="button-rounded promoModal_btn" (click)="openDialogModal($event, 4)">more info</button>
          </div>
        </div>

        <div class="promo-card">
          <img src="https://t4.ftcdn.net/jpg/05/09/57/57/240_F_509575793_naq3ZHEJ3vYpSNvofSi9OrltAVezSZGz.jpg" onload="closeLoader()" width="300px" alt="Welcome Package">
          <div class="promo-card-content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vehicula enim ut libero posuere, vel ultricies nulla laoreet. 
            </p>
          </div>
          <div class="promo-card-actions">
            <button class="button-rounded promoModal_btn" (click)="openDialogModal($event, 2)">more info</button>
          </div>
        </div>

        <div class="promo-card">
          <img src="https://t4.ftcdn.net/jpg/10/71/15/87/240_F_1071158727_zNe52zEBlMhElqK6LoS9QlPAfcs1l8I9.jpg" width="300px" alt="Daily Cashback">
          <div class="promo-card-content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vehicula enim ut libero posuere, vel ultricies nulla laoreet. 
            </p>
          </div>
          <div class="promo-card-actions">
            <button class="button-rounded promoModal_btn" (click)="openDialogModal($event, 3)">more info</button>
          </div>
        </div>

        <div class="promo-card">
          <img src="https://t4.ftcdn.net/jpg/10/71/15/87/240_F_1071158727_zNe52zEBlMhElqK6LoS9QlPAfcs1l8I9.jpg" width="300px" alt="VIP Club">
          <div class="promo-card-content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vehicula enim ut libero posuere, vel ultricies nulla laoreet. 
            </p>
          </div>
          <div class="promo-card-actions">
            <a href="/vip"><button class="button-rounded promoModal_btn">more info</button></a>
          </div>
        </div>

        <div class="promo-card">
          <img src="https://t4.ftcdn.net/jpg/10/71/15/87/240_F_1071158727_zNe52zEBlMhElqK6LoS9QlPAfcs1l8I9.jpg" width="300px" alt="smatico">
          <div class="promo-card-content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vehicula enim ut libero posuere, vel ultricies nulla laoreet. 
            </p>
          </div>
          <div class="promo-card-actions">
            <button class="button-rounded promoModal_btn" (click)="openDialogModal($event, 5)">more info</button>
          </div>
        </div>


        <!--<div class="promo-card" style="flex: 30%;">
          <img src="https://images.pop-royale.com/ROJ/EN_June_BitcoinPromo_MOTD_PC.jpg" width="300px" alt="High Roller Bonus">
          <div class="promo-card-content">
            <p>
              Bitcoin
            </p>
          </div>
          <div class="promo-card-actions">
            <button class="button-rounded promoModal_btn" (click)="openDialogModal($event, 9)">more info</button>
          </div>
        </div>-->

      </div>
    </div>
  </div>
</div>
<div class="faq">
  <div class="faq-container">
    <h2 class="faq-header">FAQs</h2>
    <h2 class="text-headers">Welcome to Lucky Spin Casino</h2>
    <p class="faq-description">
      At Lucky Spin Casino, we bring the thrill of Vegas right to your screen. Explore hundreds of pokies, table games, and live dealer options designed to keep you entertained 24/7. Whether you're a seasoned player or just getting started, our user-friendly platform offers seamless gameplay, exciting bonuses, and secure banking options.
    </p>

    <!--Accordion 1-->
    <details style="text-align: left;">
      <summary class="accordion"><h2 class="text-header">Is this an actual online casino?</h2></summary>

      <div class="accordionDrop">
        <p>Nope! This is a demo project built for showcasing UI/UX and development skills. No real money or gambling is involved</p>
      </div>
    </details>

    <!--Accordion 2-->
    <details style="text-align: left;">
      <summary class="accordion"><h2 class="text-header">What kind of games are featured?</h2></summary>

      <div class="accordionDrop">
        <p>The demo includes casino-style games like slots, blackjack, and roulette – all with fake credits for fun and educational purposes.</p>
      </div>
    </details>

    <!--Accordion 3-->
    <details style="text-align: left;">
      <summary class="accordion"><h2 class="text-header">Can I win real money here?</h2></summary>

      <div class="accordionDrop">
        <p>No, this project is for entertainment and portfolio purposes only. It doesn’t involve any form of real-world betting.</p>
      </div>
    </details>

    <!--Accordion 4-->
    <details style="text-align: left;">
      <summary class="accordion"><h2 class="text-header">What tech stack was used to build this?</h2></summary>

      <div class="accordionDrop">
        <p>This project was built using Angular, Tailwind CSS, and optionally Firebase for mock authentication and leaderboard functionality.</p>
      </div>
    </details>
</div>

<app-footer></app-footer>
