<app-header></app-header>
<div
  [ngStyle]="{
   backgroundImage: 'url(assets/images/page_background.webp)'
  }"
>
<div class="page-body">
    <div class="sub-page-header">
      <h1><span>ABOUT</span> US</h1>
    </div>
  
    <div class="page-row">
      <p>
        lucky casino casino is THE leading <a href="/en">Australian online pokies</a> site with a wide selection of over 200 online games ranging from Video slots and Pokies, Video Poker games, Blackjack, Roulette, Progressive Slots and many more.
      </p>
      <p>
        Our key focus and top priority remains to be security and maximum confidentiality to allow our players to enjoy the best gaming experience in the casino world, reason why we spare no effort to provide the best expertise in terms of games, banking, customer support, software and security.
      </p>
      <p>
        lucky casino casino offers you the opportunity to access our games on different platforms such as the download version available for Windows computers, our instant play HTML5  version available for MAC users and our mobile version to enhance your gaming experience further which is avaiable on ALL IOS, Android and Blackberry mobile phones and tablet devices.
      </p>
      <p>
        lucky casino casino makes it a point of paying winnings within the specified time frame and according to one of our secure payment methods. For that, our website and support team provides you with all the necessary information and we are available to assist you step by step to make your playing time with us an enjoyable one.
      </p>
    </div>
    </div>
</div>
<!-- ✅ FAQ Section -->
<app-faq></app-faq>
<app-footer></app-footer>
