<footer class="footer">
  <div class="footer-container">
 


    <!-- Payment Methods Section -->
    <div class="footer-payments">
      <img src="assets/images/updated-anti-spam.webp" alt="Neteller">
      <img src="assets/images/Bitcoin_logo.webp" alt="Bitcoin">
      <img src="assets/images/updated-mastercard.webp" alt="Mastercard">
      <img src="assets/images/updated-visa.webp" alt="Visa">
      <img src="assets/images/updated-logos-cds.webp" alt="Skrill">
      <!-- <a href="#" class="whatsapp-link">
        <img src="assets/images/whatsapp-icon.webp" alt="WhatsApp">
      </a> -->
    </div>
  </div>
  <div class="footer-divider"></div>
  <!-- Footer Bottom -->
  <div class="footer-bottom">
    <p class="small-grey">© {{ currentYear }}. l All Rights Reserved.</p>
  </div>
</footer>
