<app-header></app-header>
<div
  [ngStyle]="{
    backgroundImage: 'url(assets/images/page_background.webp)'
  }"
>


<div class="page-body">
    <div class="sub-page-header">
      <h1><span>Anti-money</span> laundering policy</h1>
    </div>

  
    <div class="page-row">
      <h2>Introduction</h2>
      <p>www.luckycasinocasino.org is required to have in place adequate measures to prevent its systems from being used for the purposes of money laundering, terrorist financing or any other criminal activity. www.luckycasinocasino.org is therefore obliged to follow the provisions contained in Prevention of Money Laundering and Funding of Terrorism Regulations, 2008 and any guidance notes issued by the relevant Authorities.</p>
      
      <h2>Objective Of The Policy</h2>
      <p>www.luckycasinocasino.org is fully committed to be constantly vigilant to prevent money laundering and combat the financing of terrorism in order to minimise and manage risks such as the risks to its reputational risk, legal risk and regulatory risk. It is also committed to its social duty to prevent serious crime and not to allow its systems to be abused in furtherance of these crimes.</p>
      <p>www.luckycasinocasino.org will endeavour to keep itself updated with developments both at national and international level on any initiatives to prevent money laundering and the financing of terrorism. It commits itself to protect, at all times, the organisation and its operations and safeguards its reputation and all from the threat of money laundering, the funding of terrorist and other criminal activities.</p>
  
      <h2>Obligations</h2>
      <p>In order to adhere to the requirements of the Prevention of Money Laundering Act, the regulations and any guidance notes www.luckycasinocasino.org shall as a minimum:</p>
      <ol>
        <li>Take reasonable steps to establish the identity of any person for whom it is proposed to provide its service. For this purpose the process for the registration of Players provided for under the General Terms and Conditions provides for the due diligence process that must be carried out before the opening of a User Account.</li>
        <li>keep at all times a secure online list of all registered Players.</li>
        <li>retain identification and transactional documentation as defined in the laws regulations and guidance notes.</li>
        <li>provide initial and ongoing training to all relevant staff so that they are aware of their personal responsibilities and the procedures in respect of identifying Players, monitoring Player activity, record-keeping and reporting any unusual/suspicious transactions.</li>
        <li>ensure that this policy is developed and maintained in line with evolving statutory and regulatory obligation and advice from the relevant authorities.</li>
        <li>examine with special attention, and to the extent possible, the background and purpose of any complex or large transactions and any transactions which are particularly likely, by their nature, to be related to money laundering or the funding of terrorism.</li>
        <li>cooperate with all relevant administrative, enforcement and judicial authorities in their endeavour to prevent and detect criminal activity.</li>
      </ol>
      
      <h3>Moreover, www.luckycasinocasino.org shall:</h3>
      <ol>
        <li>not accept to open anonymous Accounts or Accounts in fictitious names such that the true beneficial owner is not known.</li>
        <li>not accept cash from Players. Funds may be received from Players only by any of the following methods: credit cards, debit cards, electronic transfer, wire transfer cheques</li>
        <li>not register a Player who is under eighteen (18) years of age.</li>
        <li>only register a single account in the name of a particular person: multi-account practices are strictly prohibited.</li>
        <li>transfer payments of winnings or refunds back to the same route from where the funds originated, where possible.</li>
        <li>not accept a wager unless a User Account has been established in the name of the Player and there are adequate funds in the Account to cover the amount of the wager.</li>
        <li>not accept a wager unless the funds necessary to cover the amount of the wager are provided in an approved way.</li>
        <li>not accept Players residing or playing from non-reputable jurisdictions.</li>
        <li>not make a payment in excess of five hundred Euro (&euro; 500) out of a User Account to a Player until the Player&rsquo;s identity, age and place of residence have been verified.</li>
        <li>where it deems necessary, verify creditworthiness of the Player with third parties who previously provided any information on the Player.</li>
      </ol>
  
    </div>
  </div>
  </div>
  <!-- ✅ FAQ Section -->
<app-faq></app-faq>
<app-footer></app-footer>
